<!-- <a style="cursor: pointer;" class="list-group-item clearfix" (click)="onSelected()"> -->
<a style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix" >
    
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
            <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <div class="p-2">
            <img [src]="recipe.imagePath" alt="test img" class="img-responsive" style="max-height: 50px;">
        </div>
    </div>
</a>